/* global variables to quickly change colors */
:root {
  --box-border-alphawhite: rgba(255, 255, 255, 0.1);
  --content-top: 41px;
  --content-top-compensate: 50px;
  --color-back: #000;
  --color-back-hover: #222;
  --color-front: #fff;
  --color-front-hover: #aaa;
}

.content {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'BenderLight', sans-serif;
  padding-top: var(--content-top);
  padding-bottom: 82px;
  animation: lightenBackground 0.25s 3s;
  animation-fill-mode: forwards;
}

@keyframes logoAnim {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInContent {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#initial {
  position: absolute;
  left: 50%;
  width: 582px;
  transform: translateX(-50%);
  animation: logoAnim cubic-bezier(0, 1.35, 1, 0.5) 3s;
  opacity: 0;
}

#initial .logo {
  background: url("file:///resources/logo/logo.gif");
  width: 582px;
  height: 205px;
}

#react-container {
  position: relative;
  height: 100%;
  opacity: 0;
  animation: fadeInContent ease-in 0.5s 2.9s;
  animation-fill-mode: forwards;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: var(--color-front);
  transition: opacity 2s;
}

a {
  color: #6897cc;
  text-decoration: none;
}

input {
  padding: 16px;
  font-size: 14px;
  color: #fff;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  transition: background ease-in-out 0.075s, border-bottom-color ease-in-out 0.125s;
  box-sizing: border-box;
}

input:hover {
  background: rgba(255, 255, 255, 0.025);
}

input:focus, input:active {
  background: rgba(255, 255, 255, 0.025);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

input + label {
  margin: 4px 16px;
  display: block;
  opacity: 0.35;
  transition: opacity ease-in-out 0.125s;
}
input:focus + label, input:active + label {
  opacity: 0.8;
}
